.frame {
    background-color: goldenrod;
    padding: 1rem;
    border-radius: 6px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 130vh;
  }