.frame {
    background-color: #855E42;
    padding: 0;
    border-radius: 6px;
    margin: 1rem;
    flex: 4 1;
    position: relative;
    overflow: auto;
    min-width: 400px;
    min-height: 200px;
  }