.tile {
    min-height: 8.5vh;
    min-width: 14vh;
    background-color: transparent;
    font-size: 16px;
    border: none
}

.pointer {
    cursor: pointer;
}

.img {
    width: '100vh';
}

.rotateImage {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.coloredTitle {
    background-color: red !important;
    opacity: 50%;
}